{% extends 'base_profile.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="book-ctn">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div>
            {{ form_row(form.seat, {'label': 'Number of seats'}) }}
        </div>
        <div class="button-align-center">
            <button class="btn" id="btn-contact">{{ button_label|default('Add to Cart') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}