{% extends 'base.html.twig' %}

{% block title %}Artists{% endblock %}

{% block body %}
    <div class="artists-ctn">
        <div class="row artists-row">
            {% for artist in artists %}
            <div class="card col-3 card-ctn">
                <a href="#">
                    <div class="card-body card-artists">
                        <img class="card-img-top card-img-artists" src="{{ artist.photo }}" alt="{{ artist.name }}">
                        <p class="artist-name"><b>{{ artist.name }}</b></p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}