{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="header">
            <columns>
                <a href="{{ url('home') }}">
                    <img src="{{ email.image('@images/email/logo.png') }}" class="logo" alt="Wild-Circus-logo">
                </a>
            </columns>
        </row>
        {% block body %}
        {% endblock %}
        <row class="footer">
            <columns>
                <p>Kindely,</p>
                <p><em>The Wild Circus Team</em></p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Send with ❤️ from the Wild Circus Team
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}